.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-apple {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-arrow-L {
  font-size:(14/10)*1rem;
  width:(9/14)*1em;
}
.icon-arrow-R {
  font-size:(14/10)*1rem;
  width:(9/14)*1em;
}
.icon-arrow-down {
  font-size:(4/10)*1rem;
  width:(6/4)*1em;
}
.icon-arrow-left {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-arrow-nav {
  font-size:(8/10)*1rem;
  width:(21/8)*1em;
}
.icon-arrow-next {
  font-size:(14/10)*1rem;
  width:(9/14)*1em;
}
.icon-arrow-prev {
  font-size:(14/10)*1rem;
  width:(9/14)*1em;
}
.icon-arrow-type {
  font-size:(8/10)*1rem;
  width:(11/8)*1em;
}
.icon-arrowL {
  font-size:(14/10)*1rem;
  width:(9/14)*1em;
}
.icon-arrowR {
  font-size:(14/10)*1rem;
  width:(9/14)*1em;
}
.icon-calendar {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-card {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon-check {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-check2 {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-clock {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon-close {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-develop {
  font-size:(16/10)*1rem;
  width:(51/16)*1em;
}
.icon-empty {
  font-size:(45.44/10)*1rem;
  width:(45.44/45.44)*1em;
}
.icon-fb {
  font-size:(20/10)*1rem;
  width:(10/20)*1em;
}
.icon-info {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-inst {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon-list-menu {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-mob-menu {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-phone {
  font-size:(25/10)*1rem;
  width:(18/25)*1em;
}
.icon-play-market {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-plus {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon-point {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-search {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-services {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon-trash {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.icon-way {
  font-size:(24/10)*1rem;
  width:(25/24)*1em;
}
.icon-zip {
  font-size:(34/10)*1rem;
  width:(18/34)*1em;
}
