
<section class="advantage">
  <div class="container">
    <div class="h2-title center-txt">Преимущества</div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="advantage-item"><img src="images/car.png" alt=""/>
          <div class="advantage-item__body"><span class="advantage-title">Бонусы за брендирование</span><span class="advantage-desc">Получайте до 5000 грн в месяц за брендирование своего автомобиля</span></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="advantage-item"><img src="images/free-schedule.png" alt=""/>
          <div class="advantage-item__body"><span class="advantage-title">Свободный график работы</span><span class="advantage-desc">Работая с нами, только вы решаете, когда выполнять заказ, сколько работать и зарабатывать.</span></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="advantage-item"><img src="images/piggybank.png" alt=""/>
          <div class="advantage-item__body"><span class="advantage-title">Без вступительных</span><span class="advantage-desc">Без дополнительных платежей</span></div>
        </div>
      </div>
    </div>
  </div>
</section>