
<header class="header header-register">
  <div class="container">
    <div class="header__wrap flex-wrap">
      <div class="header__btn-menu js-open-menu">
        <svg class="icon icon-mob-menu ">
          <use xlink:href="i/sprite/sprite.svg#mob-menu"></use>
        </svg>
      </div><a class="col-logo" href="index.html" aria-label="link to main page"><img src="images/logo.svg" alt="#"/></a>
      <nav class="header__nav">
        <ul class="header__nav-list flex-wrap">
          <li><a class="header__nav-link" href="partners.html">Партнерам</a></li>
          <li><a class="header__nav-link" href="#">Бизнесу</a></li>
          <li><a class="header__nav-link" href="#">Автопаркам</a></li>
          <li><a class="header__nav-link" href="#">Новости</a></li>
          <li><a class="header__nav-link" href="#">Промокоды</a></li>
        </ul>
      </nav>
      <div class="header__col-right flex-wrap">
        <div class="header__lang"><span class="header__lang-item">Ru<span class="lang-arrow">
              <svg class="icon icon-arrow-down ">
                <use xlink:href="i/sprite/sprite.svg#arrow-down"></use>
              </svg></span></span>
          <ul class="lang-drop">
            <li><a href="#">Ukr</a></li>
          </ul>
        </div>
        <div class="header__info-wrap flex-wrap">
          <div class="header__phone">
            <svg class="icon icon-phone ">
              <use xlink:href="i/sprite/sprite.svg#phone"></use>
            </svg><a class="header__phone-item" href="tel:+380577838502">(057) 7-838-502</a>
          </div>
          <div class="header__app"><a class="header__app-item" href="#">
              <svg class="icon icon-play-market ">
                <use xlink:href="i/sprite/sprite.svg#play-market"></use>
              </svg></a><a class="header__app-item" href="#">
              <svg class="icon icon-apple ">
                <use xlink:href="i/sprite/sprite.svg#apple"></use>
              </svg></a></div>
        </div>
      </div>
    </div>
  </div>
  <nav class="header-mobile__nav">
    <div class="header-mobile__top">
      <div class="menu-close js-close-menu">
        <svg class="icon icon-close ">
          <use xlink:href="i/sprite/sprite.svg#close"></use>
        </svg>
      </div>
      <div class="header-mobile__app"><a class="header__app-item" href="#">
          <svg class="icon icon-play-market ">
            <use xlink:href="i/sprite/sprite.svg#play-market"></use>
          </svg></a><a class="header__app-item" href="#">
          <svg class="icon icon-apple ">
            <use xlink:href="i/sprite/sprite.svg#apple"></use>
          </svg></a></div>
    </div>
    <div class="header-mobile__middle">
      <ul class="menu-mobile__list">
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="partners.html">Партнерам</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Бизнесу</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Автопарку</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Новости</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Промокоды</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Контакты</a></li>
        <li class="menu-mobile__item"><a class="menu-mobile__link" href="#">Условия использования</a></li>
      </ul>
    </div>
    <div class="header-mobile__bottom"><a class="btn main-btn" href="#">оформить заказ</a>
      <div class="header-mobile__lang"><a class="lang__item lang-active">Ru</a><a class="lang__item">Ukr</a></div>
    </div>
  </nav>
</header>