
<aside>
  <div class="overlay">
    <div class="knowledge-aside"><span class="close">
        <svg class="icon icon-close ">
          <use xlink:href="i/sprite/sprite.svg#close"></use>
        </svg></span>
      <div class="h4-title knowledge-aside__title">Ответы на вопросы</div>
      <div class="knowledge-aside__content">
        <div class="answer-block">
          <div class="h5-title">Условия сотрудничества</div>
          <ul class="answer-list">
            <li class="answer-list__item active"><a href="#">Регистрация</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Смена авто</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Требования к авто</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Тарифы</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="answer-block">
          <div class="h5-title">Работа с заказами</div>
          <ul class="answer-list">
            <li class="answer-list__item"><a href="#">Способы приема заказов</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Фильтры и их настройки</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Виды и типы заказов</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Выполнение заказов</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="answer-block">
          <div class="h5-title">Финансы</div>
          <ul class="answer-list">
            <li class="answer-list__item"><a href="#">Комиссия</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Пополнение счета</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Вывод стредств</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Компенсации и их виды</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="answer-block">
          <div class="h5-title">Условия сотрудничества</div>
          <ul class="answer-list">
            <li class="answer-list__item"><a href="#">Регистрация</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Смена авто</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Требования к авто</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
            <li class="answer-list__item"><a href="#">Тарифы</a>
              <svg class="icon icon-arrow-type ">
                <use xlink:href="i/sprite/sprite.svg#arrow-type"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>