
<section class="mobile-app">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 mobile-app__invite">
        <div class="mobile-app__wrap"><span class="h2-title">Вам понадобится мобильное приложение!</span><a class="mobile-app__item" href="#"><img src="images/google-play.svg" alt=""/></a><a class="mobile-app__item" href="#"><img src="images/app-store.svg" alt=""/></a></div>
      </div>
      <div class="col-sm-7 mobile-app__img"><img src="images/mobile-app.png" alt=""/></div>
    </div>
  </div>
</section>