
<section class="questions">
  <div class="container">
    <div class="h2-title">Часто задаваемые вопросы</div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="questions__accordion">
          <button class="questions__btn flex-wrap js_questions__btn" type="button" aria-label="toggle accordion"><span class="questions__decor"></span><span class="h5-title">Где можно пополнить баланс в программе?</span></button>
          <div class="questions__panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
          </div>
        </div>
        <div class="questions__accordion">
          <button class="questions__btn flex-wrap js_questions__btn" type="button" aria-label="toggle accordion"><span class="questions__decor"></span><span class="h5-title">Что делать если клиент не выходит и не берет трубку?</span></button>
          <div class="questions__panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
          </div>
        </div>
        <div class="questions__accordion">
          <button class="questions__btn flex-wrap js_questions__btn" type="button" aria-label="toggle accordion"><span class="questions__decor"></span><span class="h5-title">Как пополниться?</span></button>
          <div class="questions__panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="questions__accordion">
          <button class="questions__btn flex-wrap js_questions__btn" type="button" aria-label="toggle accordion"><span class="questions__decor"></span><span class="h5-title">Сколько стоит подача машины, 1 км проезда по городу и межгороду?</span></button>
          <div class="questions__panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
          </div>
        </div>
        <div class="questions__accordion">
          <button class="questions__btn flex-wrap js_questions__btn" type="button" aria-label="toggle accordion"><span class="questions__decor"></span><span class="h5-title">Как снять заказ?</span></button>
          <div class="questions__panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
          </div>
        </div>
        <div class="questions__accordion">
          <button class="questions__btn flex-wrap js_questions__btn" type="button" aria-label="toggle accordion"><span class="questions__decor"></span><span class="h5-title">Как просчитывается ожидание и изменения маршрута?</span></button>
          <div class="questions__panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>