
<section class="start round-corner bg-yellow bg-properties animate-car">
  <div class="container">
    <div class="h2-title center-txt">Как начать работать в нашей компании?</div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3 animate-car__col">
        <div class="start__step">
          <div class="start__label h5-title">Заполнить анкету</div><span class="start__dot"></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3 animate-car__col">
        <div class="start__step">
          <div class="start__label h5-title">Настроить телефон</div><span class="start__dot"></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3 animate-car__col">
        <div class="start__step">
          <div class="start__label h5-title">Получить реквизиты</div><span class="start__dot"></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3 animate-car__col">
        <div class="start__step">
          <div class="start__label h5-title">Готово!</div><span class="start__dot"></span>
        </div>
      </div>
    </div>
    <div class="start__img-holder"><img src="./images/start-car.png"/></div>
  </div>
</section>