
<div class="tabs">
  <ul class="tabs__caption">
    <li class="h3-title active">Водителям</li>
    <li class="h3-title">Пассажирам</li>
  </ul>
  <form class="form form-search">
    <div class="form-group">
      <label class="form-label" for="autocompleteKnowledge">Поиск по ключевым словам</label>
      <input class="form-control js_autocomplete-knowledge" id="autocompleteKnowledge" name="search" type="search" placeholder="Поиск" autocomplete="off"/>
    </div>
    <button class="btn btn-search">
        <svg class="icon icon-search ">
          <use xlink:href="i/sprite/sprite.svg#search"></use>
        </svg>
    </button>
  </form>
  <div class="block-question">
    <button class="btn btn-qlist js-open-list-menu" type="button">
        <svg class="icon icon-list-menu ">
          <use xlink:href="i/sprite/sprite.svg#list-menu"></use>
        </svg><span>список вопросов</span>
    </button>
  </div>
  <div class="tabs__content active">
    <div class="h3-title">Условия сотрудничества</div>
    <div class="h4-title">Регистрация</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
  <div class="tabs__content">Для пассажиров</div>
</div>